---
import Layout from '../layouts/Layout.astro';
import ChunkMap from '../components/ChunkMap';
import ClusterFinder from '../components/ClusterFinder';
import ChunkPos from '../utils/chunkPos';
---

<Layout title="Cluster Chunk Finder">
	<main class="mx-auto">
			<ClusterFinder client:load />
	</main>
</Layout>
